.section_image {
  background: url('https://images4.alphacoders.com/234/thumb-1920-234934.jpg');
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.map {
  background-color: blanchedalmond;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}