.container{
    max-width: 100%;
    border-radius: 5px;
    margin: 10px 0 0 10px;
}
.title{
    font-size: 13px;
    font-weight: bold;
}
.label{
    font-size: 13px;
}
.map {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card {
    max-width: 500px;
  }
  .show_icons{
    width: 100%;
    min-height: 30px;
    height: auto;
    margin-top: 5px;
  }